textarea {
    width: 670px;
    height: 165px;
    border: 2px solid black;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.postEle {
    border: 2px solid black;
    color: #001b2b;
    border-collapse: collapse;
    width: 50%;
    background-color: rgb(63, 96, 107);
    margin-top: 25px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.356);
}

.userName {
    margin-left: 10px;
    border: 1px solid black;
    width: 15%;
    text-align: center;
    color: #001b2b;
    background-color: white;
    border-collapse: collapse;
}

.button {
  background-color: #283C46;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
}

.textBody {
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 50%;
    text-align: center;
    color: #001b2b;
    background-color: white;
    border-collapse: collapse;
}

.createPost {
    border: 2px solid white;
    background-color: rgb(63, 96, 107);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.356);
    color: #283C46;
    text-align: center;
    width: 685px;
    height: 250px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 25px
}

.recent {
    margin-top: 25px;
    margin-bottom: 10px;
}
